/* Imported font: font-family: 'Darker Grotesque', sans-serif;
 */

body {
    background-image: url(../images/ep_naturalblack.png);
    background-repeat: repeat;
    font-family: 'Darker Grotesque', sans-serif;
}

/* Navbar */

#navbar {
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 40px 10px;
    border-radius: 0px 0px 25px 25px;
}

nav .brand-logo, nav ul a, nav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.brand-logo {
    font-size: 30px;
}

/* Jumbotron */

#images {
    position: relative;
}

#mainImage {
    margin-top: 20px;
    width: 100%;
    height: auto;
    box-shadow: 5px 10px;
}

#profile {
    width: 12%;
    height: auto;
    position: absolute;
    left: 45%;
    bottom: 32%;
    border: 5px solid black;
    border-radius: 50px;
}

#name {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 43%;
    bottom: 20px;
}

#github {
    width: 32px;
    height: auto;
    position: absolute;
    left: 47%;
    bottom: 20%;
}

#linkedin {
    width: 32px;
    height: auto;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

#cv {
    color: white;
    font-size: 18px;
    padding: 5px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    left: 53%;
    bottom: 20%;
}

a:hover {
    transition: 500ms;
    opacity: 0.5;
    color: gray;
}

a:active {
    opacity: 0.2;
}

/* About Me Section */

#aboutMe {
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 10px;
    margin: 40px 0 40px 0;
}

#heading {
    font-size: 50px;
}

.mainText {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

/* Footer */

footer {
    color: white;
    background-color: gray;
    position: fixed !important;
    left: 0%;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    z-index: 99;
}

#copyright {
    float: left;
}

#account, #emailAddress, #phone, #tel {
    float: right;
    padding-right: 10px;
}

/* Portfolio page */
#hangman, #crystal, #trivia, #giftastic, #train, #fridge, #liri, #bamazon {
    width: 100%;
    height: auto;
} 

.card .card-title, .cardLink, .card .card-content p, .extraInfo {
    font-weight: bold;
}

.card .card-title {
    font-size: 28px;
}

.cardLink {
    font-size: 22px;
}

.card .card-content p, .extraInfo {
    font-size: 20px;
}

.extraInfo {
    padding-top: 10px;
    padding-bottom: 30px;
}

/* Contact page */

#contactForm {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 40px 0 40px 0;
}

.input-field .prefix ~ label {
    font-size: 18px;
    color: gray
}


/* =================================================================== */

/* Media Queries for Mobile Responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Homepage */
    
    nav .brand-logo {
        font-size: 16px;
    }

    #profile {
        left: 20%;
        bottom: 3%;
        width: 18%;
    }

    #name {
        left: 62%;
        bottom: 15%;
        font-size: 18px;
    }
    #github {
        left: 61%;
    }

    #linkedin {
        left: 72%;
    }
    #cv {
        left: 83%;
    }
    #github, #linkedin, #cv {
        bottom: 35%;
    }

    /* Footer */

    #copyright, #account, #emailAddress, #phone, #tel {
        float: none;
        margin-left: 20px;
        text-align: center;
    }

    #account, #phone {
        display: none;
    }

    /* Portfolio page */

    .card .card-title {
        font-size: 28px;
    }
    
    .cardLink {
        font-size: 22px;
    }
    
    .card .card-content p, .extraInfo {
        font-size: 20px;
    }

  }  

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav .brand-logo {
        font-size: 16px;
    }

    #profile {
        left: 20%;
        bottom: 20%;
    }

    #name {
        left: 65%;
        bottom: 20%;
        font-size: 24px;

    }
    #github {
        left: 64%;
    }

    #linkedin {
        left: 72%;
    }
    #cv {
        left: 80%;
    }
    #github, #linkedin, #cv {
        bottom: 35%;
    }
    /* Footer */

    #account, #emailAddress, #phone, #tel {
        float: right;
        margin-left: 20px;
    }

    #account, #phone {
        display: none;
    }

    /* Portfolio page */

    .card .card-title {
        font-size: 24px;
    }
    
    .cardLink {
        font-size: 18px;
    }
    
    .card .card-content p, .extraInfo {
        font-size: 16px;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #profile {
        left: 20%;
        bottom: 20%;
    }
    
    #name  {
        left: 65%;
        font-size: 26px;
        bottom: 20%;
    }
    #github {
        left: 64%;
    }

    #linkedin {
        left: 72%;
    }
    #cv {
        left: 80%;
    }
    #github, #linkedin, #cv {
        bottom: 35%;
    }

    /* Footer */

    #account, #emailAddress, #phone, #tel {
        float: right;
        margin-left: 20px;
    }

    #account, #phone {
        display: none;
    }

    /* Portfolio page */

    .card .card-title {
        font-size: 26px;
    }
    
    .cardLink {
        font-size: 20px;
    }
    
    .card .card-content p, .extraInfo {
        font-size: 18px;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #profile {
        left: 45%;
        bottom: 33%;
    }
    
    nav .brand-logo {
        font-size: 28px;
    }
    #name  {
        left: 44%;
        font-size: 28px;
        bottom: 8%;
    }
    #github {
        left: 46%;
    }
    #linkedin {
        left: 50%;
    }
    #cv {
        left: 54%;
    }
    #github, #linkedin, #cv {
        bottom: 20%;
    }
    /* Footer */

    #account, #emailAddress, #phone, #tel {
        float: right;
        display: block;
        margin-left: 5px;
    }

    /* Portfolio page */

    .card .card-title {
        font-size: 28px;
    }
    
    .cardLink {
        font-size: 22px;
    }
    
    .card .card-content p, .extraInfo {
        font-size: 20px;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav .brand-logo {
        font-size: 32px;
    }

    #name {
        font-size: 30px;
        bottom: 8%;
        left: 46%;
    }
}