body {
    background-image: url(../images/ep_naturalblack.png);
    background-repeat: repeat;
}

#navbar {
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 0px 0px 25px 25px;
}

nav .brand-logo, nav ul a, nav a {
    color: black;
}


#images {
    position: relative;
}

#mainImage {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border: 3px white double;
}

#profile {
    width: 12%;
    height: auto;
    position: absolute;
    left: 45%;
    bottom: 32%;
    border: 5px solid black;
    border-radius: 50px;
}

#name {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 43%;
    bottom: 20px;
}

#github {
    width: 32px;
    height: auto;
    position: absolute;
    left: 47%;
    bottom: 20%;
}

#linkedin {
    width: 32px;
    height: auto;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

#cv {
    color: white;
    font-size: 18px;
    padding: 5px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    left: 53%;
    bottom: 20%;
}

a:hover {
    border: 2px darkslateblue solid;
}